/lesson 2/nbproject/private/
/lesson 2/build/
/Lesson2/nbproject/private/
/Lesson2/build/
/Homework2/nbproject/private/
/Homework2/build/
/Leson3/nbproject/private/
/Leson3/build/
/Lesson4/nbproject/private/
/Lesson4/build/
/lesson 5/nbproject/private/
/lesson 5/build/
/lesson6/nbproject/private/
/lesson 6/nbproject/private/
/lesson 6/build/
/lesson6/build/
/@@/nbproject/private/
/@@/build/
/lesson7/nbproject/private/
/lesson7/build/
/lessoń/nbproject/private/
/lessoń/build/
/lesson8/nbproject/private/
/lesson8/build/